
<div class="button">
	<a href="/home">Take me home</a>
</div>

<div class="container">
	<h1>Genres</h1>
	<ol>
	<% @parser.genres.each do |genre_object|%>

		<li><a href="/genres/<%=genre_object.name%>"><%=genre_object.name.capitalize%></a></li>

	<% end %>
	</ol>
</div>
