

<div class="row">
	<div class="span12 home_button"><a href="/genres">Browse by Genre</a></div>
</div>

<div class="row">
	<div class="span12 home_button"><a href="/artists">Browse by Artist</a></div>
</div>