
<div class="container">
	<h1>Welcome to Playlister!</h1>
	<h3>Care to browse by music, or by artist?</h3>
	<br>
	<div class="btn_container">
		<div class="button">
			<a href="/genres">Browse by Genre</a>
		</div>

		<div class="button">
			<a href="/artists">Browse by Artist</a>
		</div>
	</div>
</div>