

.list {
	display: inline-block;
	margin-left: 40%;
	padding: 20px;
	width: 400px;
}

ol {
	margin-left: 20%
}

h1, h2, h3 {
	text-align: center
}


body {
	font-family: 'Amatic SC', cursive;
	font-size: 32px;
	color: white;
	background: url(/img/Chalkboard-background.jpg) repeat;
}

.button {
	display: inline-block;
	width: 225px;
	margin: 10px;
	text-align:center;
	
	padding: 15px;
	border-radius: 30%;
	text-decoration: none;
	color: white;
	font-size: 40px;
	background-color: rgba(37,37,37, 0.4);
}

.btn_container {
	width: 700px;
	display: block;
	margin: 0 auto;
}

.btn_container > .button {
	font-size: 60px;
	width: 300px;
	height: 80px;
}

.container {
	width: 800px;
	display: block;
	position: relative;
	margin:0 auto;
	padding-top: 5px;
}

.container > h1, h2, h3 {
	margin-right: 15px;
}

.container > .button {
	display: block;
	margin: 0 auto;
}

a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
a:hover {
	text-decoration: underline;
}
a:active {

}

